/* Fonts */
.georgia {font-family: Georgia, 'Times New Roman', Times, serif;}
.helvetica {font-family: Helvetica, Arial, sans-serif;}
.courier {font-family: 'Courier New', Courier, monospace;}
.maison {font-family: Helvetica, Arial, sans-serif;}
/* Text Colors */
.white {color: #ffffff;}
.dark {color: #333F48;}
.cream {color: #F8F4F0;}
.creamDark {color: #DBC8B6;}
.rose {color: #DC7D7C;}
.almond {color: #C6A992;}
/* BG Colors */
.white-bg {background-color: #ffffff;background: #ffffff;}
.dark-bg {background-color: #333F48;background: #333F48;}
.cream-bg {background-color: #F8F4F0;background: #F8F4F0;}
.creamDark-bg {background-color: #DBC8B6;background: #DBC8B6;}
.rose-bg {background-color: #DC7D7C;background: #DC7D7C;}
.almond-bg {background-color: #C6A992;background: #C6A992;}
/* Padding */
.logo {padding: 30px 0 60px 0;} 
.box25 {padding: 25px;}
.box30 {padding: 30px;}
.box50 {padding: 50px;}
.gutter25 {padding-left: 25px;padding-right: 25px;}
.gutter30 {padding-left: 30px;padding-right: 30px;}
.gutter50 {padding-left: 50px;padding-right: 50px;}
.gutter75 {padding-left: 75px;padding-right: 75px;}
.gutter85 {padding-left: 85px;padding-right: 85px;}
.row15 {padding-top: 15px;padding-bottom: 15px;}
.row25 {padding-top: 25px;padding-bottom: 25px;}
.row30 {padding-top: 30px;padding-bottom: 30px;}
.row60 {padding-top: 60px;padding-bottom: 60px;}
.f10 {font-size: 10px;}
.f12 {font-size: 12px;}
.f14 {font-size: 14px;}
.f16 {font-size: 16px;}
.f18 {font-size: 18px;}
.f20 {font-size: 20px;}
.f24 {font-size: 24px;}
.f30 {font-size: 30px;}
.f32 {font-size: 32px;}
.f35 {font-size: 35px;}
.f40 {font-size: 40px;}
.f48 {font-size: 48px;}
.f50 {font-size: 50px;}
.f56 {font-size: 56px;}
.h20 {line-height: 20px;}
.h22 {line-height: 22px;}
.h24 {line-height: 24px;}
.h26 {line-height: 26px;}
.h34 {line-height: 34px;}
.h40 {line-height: 40px;}
.h45 {line-height: 45px;}
.h55 {line-height: 55px;}
.h64 {line-height: 64px;}
a:hover {opacity: 0.7 !important;}
/* Mobile  */
@media only screen and (max-width: 600px) {
   /* Padding */
   .container{padding: 25px !important;}
   .box25 {padding: 25px 15px!important;}
   .box30 {padding: 30px 20px !important;}
   .box50 {padding: 50px 40px!important;}
   .gutter25 {padding-left: 25px !important;padding-right: 25px !important;}
   .gutter30 {padding-left: 30px !important;padding-right: 30px !important;}
   .gutter50 {padding-left: 30px !important;padding-right: 30px !important;}
   .gutter75 {padding-left: 30px !important;padding-right: 30px !important;}
   .gutter85 {padding-left: 30px !important;padding-right: 30px !important;}
   .col3-pad {padding: 25px !important;width: 100%;;}
   .col3-container {width:100% !important;display:block !important; max-width: 320px !important;Margin: auto !important;padding: 3px 0 !important;}
   #email-container {margin-top: 0px !important;}
   
   /* Buttons */
   .btn {max-width: 280px !important;}         

   /* Columns */
   .combineL {width: 40px !important;display: table-cell !important;text-align: left !important;}
   .combineR {width: 150px !important;display: table-cell !important;text-align: left !important;}
   .itemImg {width: 100px !important;}
   .bestseller-combineL {width: 100px !important;display: table-cell !important;text-align: left !important;}
   .bestseller-combineR {width: 200px !important;display: table-cell !important;text-align: left !important;padding-left: 20px !important;}
   
   /* Fonts */
   .m-f10 {font-size: 10px !important;}
   .m-f12 {font-size: 12px !important;}
   .m-f14 {font-size: 14px !important;}
   .m-f16 {font-size: 16px !important;}
   .m-f18 {font-size: 18px !important;}
   .m-f20 {font-size: 20px !important;}
   .m-f24 {font-size: 24px !important;}
   .m-f25 {font-size: 25px !important;}
   .m-f30 {font-size: 30px !important;}
   .m-f40 {font-size: 40px !important;}
   .m-f50 {font-size: 50px !important;}
   .m-f56 {font-size: 56px !important;}
   .m-h16 {line-height: 16px !important;}
   .m-h18 {line-height: 18px !important;}
   .m-h20 {line-height: 20px !important;}
   .m-h22 {line-height: 22px !important;}
   .m-h24 {line-height: 24px !important;}
   .m-h26 {line-height: 26px !important;}
   .m-h34 {line-height: 34px !important;}
   .m-h36 {line-height: 36px !important;}
   .m-h40 {line-height: 40px !important;}
   .m-h45 {line-height: 45px !important;}
   .m-h50 {line-height: 50px !important;}
   .m-h55 {line-height: 55px !important;}
   .m-h64 {line-height: 64px !important;}
}