  <!-- Belt start -->
  <tr name="column-mobile-stack">
    <td class="col3-pad almond-bg box25" style="Margin:auto;border-bottom: 2px #333F48 solid;">
       <table width="580" cellspacing="0" cellpadding="0" border="0" style="Margin:auto;Margin-left:auto;Margin-right:auto;max-width: 580px;width:100%;" align="center">
          <tr>
             <th name="column" class="col3-container" width="125">
                <table class="fluid" width="125" cellspacing="0" cellpadding="0" align="center" border="0" role="presentation">
                   <tr>
                      <td class="f12 h16 courier dark mleft" style="text-align:center;">
                         <img src="http://seanmun.com/heyday/images/shipping-icon.png" alt="shipping" width="40">
                        <span class="desktop"><br/></span>Free Shipping Over $30
                      </td>
                   </tr>
                </table>
             </th>
             <th name="column"  class="col3-container" width="125">
                <table class="fluid" width="125" cellspacing="0" cellpadding="0" align="center" border="0" role="presentation">
                   <tr>
                      <td class="f12 h16 courier dark mleft" style="text-align:center;">
                         <img src="http://seanmun.com/heyday/images/routine-icon.png" alt="routine" width="40">
                         <span class="desktop"><br/></span>Get Your Custom Routine
                      </td>
                   </tr>
                </table>
             </th>
             <th name="column" class="col3-container" width="125">
                <table class="fluid" width="125" cellspacing="0" cellpadding="0" align="center" border="0" role="presentation">
                   <tr>
                      <td class="f12 h16 courier dark mleft" style="text-align:center;">
                         <img src="http://seanmun.com/heyday/images/rewards-icon.png" alt="rewards" width="40">
                         <span class="desktop"><br/></span>Unlock Your Rewards
                      </td>
                   </tr>
                </table>
             </th>
          </tr>
       </table>
    </td>
 </tr>
 <!-- Belt end -->