 <!-- Banner start -->
 <tr name="column-mobile-stack">
    <td class="col3-pad lightblue-bg" style="Margin:auto;padding: 35px 0;">
       <table width="580" cellspacing="0" cellpadding="0" border="0" style="Margin:auto;Margin-left:auto;Margin-right:auto;max-width: 580px;width:100%;" align="center">
          <tr>
             <th name="column" class="col3-container" width="255">
                <table class="mobile-center" width="100%" cellspacing="0" cellpadding="0" align="center" border="0" role="presentation">
                   <tr>
                      <td class="f14 h20 objektiv dark" style="text-align:center;">
                         <img style="max-width:18px;display:inline-block;vertical-align: top;" width="18" alt="✓" src="https://d2axdqolvqmdvx.cloudfront.net/a1bca19e-5f5b-4927-90e0-d49b517c6e25/tick.png" />
                        <br/>Free Shipping Over $30
                      </td>
                   </tr>
                </table>
             </th>
             <th name="column"  class="col3-container" width="175">
                <table class="mobile-center" width="100%" cellspacing="0" cellpadding="0" align="center" border="0" role="presentation">
                   <tr>
                      <td class="f14 h20 dark objektiv" style="text-align:center;">
                         <img style="max-width:18px;display:inline-block;vertical-align: top;" width="18" alt="✓" src="https://d2axdqolvqmdvx.cloudfront.net/a1bca19e-5f5b-4927-90e0-d49b517c6e25/tick.png" />
                          <br/>Get Your Custom Routine
                      </td>
                   </tr>
                </table>
             </th>
             <th name="column" class="col3-container" width="170">
                <table class="mobile-center" width="100%" cellspacing="0" cellpadding="0" align="center" border="0" role="presentation">
                   <tr>
                      <td class="f14 h20 dark objektiv"  style="text-align:center;">
                         <img style="max-width:18px;display:inline-block;vertical-align: top;" width="18" alt="✓" src="https://d2axdqolvqmdvx.cloudfront.net/a1bca19e-5f5b-4927-90e0-d49b517c6e25/tick.png" />
                       <br/>Unlock Your Rewards
                      </td>
                   </tr>
                </table>
             </th>
          </tr>
       </table>
    </td>
 </tr>
 <!-- Banner end -->