<!-- Body Start -->
<tr>
    <td class="cream-bg gutter85">
       <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
          <tr>
             <td class="row30 dark georgia f24 h30 center">
                Items In Your Bag
             </td>
          </tr>
          <tr>
             <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                   <!-- cartItem Start -->
                   <tr>
                      <td style="padding-bottom:30px">
                         <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                            <tr>
                               <td class="itemImg" width="150">
                                  <a href="https://www.heydayskincare.com/" target="blank" class="productImg"><img src="http://seanmun.com/heyday/images/itemImg.jpg" width="150" alt="Product Image"></a>
                               </td>
                               <td class="itemDets" style="padding-left:20px;">
                                  <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                     <tr>
                                        <td class="itemBrand courier f12 dark" style="padding-bottom: 10px;">
                                          <a href="https://www.heydayskincare.com/" target="blank" class="dark" style="text-decoration: none;">One Love Organics</a>
                                        </td>
                                     </tr>
                                     <tr>
                                        <td class="itemName helvetica f16 dark">
                                          <a href="https://www.heydayskincare.com/" target="blank" class="dark" style="text-decoration: none;">Limited-Edition Glow Bag</a>
                                        </td>
                                     </tr>
                                  </table>
                               </td>
                            </tr>
                         </table>
                      </td>
                   </tr>
                   <!-- cartItem Start -->
                   <!-- cartItem Start -->
                   <tr>
                      <td style="padding-bottom:30px">
                         <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                            <tr>
                               <td class="itemImg" width="150">
                                  <a href="https://www.heydayskincare.com/" target="blank" class="productImg"><img src="http://seanmun.com/heyday/images/itemImg.jpg" width="150" alt="Product Image"></a>
                               </td>
                               <td class="itemDets" style="padding-left:20px;">
                                  <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                     <tr>
                                        <td class="itemBrand courier f12 dark" style="padding-bottom: 10px;">
                                          <a href="https://www.heydayskincare.com/" target="blank" class="dark" style="text-decoration: none;">One Love Organics</a>
                                        </td>
                                     </tr>
                                     <tr>
                                        <td class="itemName helvetica f16 dark">
                                          <a href="https://www.heydayskincare.com/" target="blank" class="dark" style="text-decoration: none;">Limited-Edition Glow Bag</a>
                                        </td>
                                     </tr>
                                  </table>
                               </td>
                            </tr>
                         </table>
                      </td>
                   </tr>
                   <!-- cartItem Start -->
                   <!-- cartItem Start -->
                   <tr>
                      <td style="padding-bottom:30px">
                         <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                            <tr>
                               <td class="itemImg" width="150">
                                  <a href="https://www.heydayskincare.com/" target="blank" class="productImg"><img src="http://seanmun.com/heyday/images/itemImg.jpg" width="150" alt="Product Image"></a>
                               </td>
                               <td class="itemDets" style="padding-left:20px;">
                                  <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                     <tr>
                                        <td class="itemBrand courier f12 dark" style="padding-bottom: 10px;">
                                          <a href="https://www.heydayskincare.com/" target="blank" class="dark" style="text-decoration: none;">One Love Organics</a>
                                        </td>
                                     </tr>
                                     <tr>
                                        <td class="itemName helvetica f16 dark">
                                          <a href="https://www.heydayskincare.com/" target="blank" class="dark" style="text-decoration: none;">Limited-Edition Glow Bag</a>
                                        </td>
                                     </tr>
                                  </table>
                               </td>
                            </tr>
                         </table>
                      </td>
                   </tr>
                   <!-- cartItem Start -->
                </table>
             </td>
          </tr>
       </table>
    </td>
 </tr>
 <!-- Body end -->