<!-- Single Item Start -->
<tr>
    <td style="padding-bottom:30px">
       <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
          <tr>
             <td class="" >
                <a href="https://www.heydayskincare.com/" target="blank"
                   class="productImg"><img src="http://seanmun.com/heyday/images/itemImg.jpg"
                      width="400" alt="Product Image" style="max-width: 400px;width:100%;"></a>
             </td>
             
          </tr>
          <tr>
              <td class=" courier f14 dark" style="padding-bottom: 10px;">
                 <a href="https://www.heydayskincare.com/" target="blank" class="dark"
                    style="text-decoration: none;"><br>One Love Organics</a>
              </td>
           </tr>
           <tr>
              <td class=" helvetica f20 dark">
                 <a href="https://www.heydayskincare.com/" target="blank" class="dark"
                    style="text-decoration: none;">Limited-Edition Glow Bag</a>
              </td>
           </tr>
       </table>
    </td>
 </tr>
 <!-- Single Item  end -->